<template>
  <div class="page" data-name="login">
    <div class="page-content login-screen-content">
      <div class="login-screen-title" style="font-size: 28px">LightPOS
        <!-- <div class="mt-20"><img src="logo.png" width="150" height="150"></div> -->
        <!-- <div style="font-size: 22px">Login Anggota</div> -->
      </div>

      <form id="login_cred" autocomplete="off">
        <div class="list no-hairlines no-hairlines-between">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Username</div>
                <div class="item-input-wrap">
                  <!-- <input type="text" id="username" name="username" placeholder="Your username"> -->
                  <input type="text" id="userlogin" name="user" value="admin">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input-wrap">
                  <!-- <input type="password" id="pass" name="pass" placeholder="Your password"> -->
                  <input type="password" id="passlogin" name="pass" value="admin">
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title" style="width: 100%;">
                  <a id="login_button" class="button button-outline button-round" href="#" onclick="onNewLogin(document.getElementById('login_cred'))">Sign In</a>
                </div>
              </div>
            </li>
            <!-- <li class="item-content">
              <div class="item-inner">
                <div class="item-title" style="width: 100%;" align="center">
                  <div class="row">
                    <a href="/lupapassword/" class="button button-small col"><b>Lupa Password</b></a>
                    <a href="#" class="button button-small col"><b>Daftar Baru</b></a>
                  </div>
                </div>
              </div>
            </li> -->
          </ul>
        </div>

        <!-- <a href="#" onclick="onLogout()">LO</a> -->
        <!-- <a href="#" onclick="onLogin()">LI</a> -->

        <div class="block-footer">
          <p><a href="/register/">Register Baru</a></p>
          <p>&copy; 2019 PT Media Nusa Mandiri</p>
        </div>
      </form>
    </div>
  </div>
</template>