<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">
          Edit Profil
        </div>
      </div>
    </div>

    <div class="page-content">
      <form class="list no-hairlines no-hairlines-between" id="profil_cred">
        <ul>

          <div class="block-header"><h3>Informasi User</h3></div>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Email</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama</div>
              <div class="item-input-wrap">
                <input type="text" id="" >
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Alamat</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Telp</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>

          <div class="block-header"><h3>Informasi Cabang</h3></div>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama Cabang</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>

          <div class="block-header"><h3>Informasi Toko / Usaha</h3></div>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama Toko</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Alamat Toko</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Telp Toko</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Motto</div>
              <div class="item-input-wrap">
                <input type="text" id="" name="">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title" style="width: 100%;">
                <a id="" class="button button-fill" href="#" onclick="">Update Profile</a>
              </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</template>