<template>
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">
          Tambah Baru
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="block">
        <div class="segmented" style="margin: 5px;">
          <a href="#addFoods" class="button tab-link tab-link-active">Foods</a>
          <a href="#addBvrgs" class="button tab-link">Beverages</a>
          <a href="#addCombos" class="button tab-link">Combos</a>
        </div>

        <div class="tabs">
          <div id="addFoods" class="tab tab-active">
            <div class="block">
              <form id="tambahFood" class="list no-hairlines no-hairlines-between">
                <ul>
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">Nama Item</div>
                      <div class="item-input-wrap">
                        <input type="text" name="nama_barang">
                      </div>
                    </div>
                  </li>
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">Harga</div>
                      <div class="item-input-wrap">
                        <input type="text" name="harga_jual">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title" style="width: 100%;">
                        <a href="#" class="button button-fill" onclick="tambahItem(document.getElementById('tambahFood'))">Tambah</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <div id="addBvrgs" class="tab">
            <div class="block">
              <form id="tambahBvrg" class="list no-hairlines no-hairlines-between">
                <ul>
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">Nama Item</div>
                      <div class="item-input-wrap">
                        <input type="text" name="nama_barang">
                      </div>
                    </div>
                  </li>
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">Harga</div>
                      <div class="item-input-wrap">
                        <input type="text" name="harga_jual">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title" style="width: 100%;">
                        <a href="#" class="button button-fill" onclick="tambahItem(document.getElementById('tambahBvrg'))">Tambah</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <div id="" class="tab">
            <div class="card card-outline">
              <form class="searchbar" id="search_for_combo">
                <div class="searchbar-inner">
                  <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Search" oninput="">
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                  </div>
                  <span class="searchbar-disable-button">Cancel</span>
                </div>
              </form>

              <div class="block">
                <div class="list no-hairlines no-hairlines-between">
                  <ul>
                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Nama Combo</div>
                        <div class="item-input-wrap">
                          <input type="text" name="" id="nama_combo">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="block">
                <div class="grid-demo">
                  <div class="row" id="item_list" style="overflow: scroll; max-height: 33vh; padding-top: 15px;"></div>
                </div>
              </div>

              <div class="block" style="max-height: 40vh; overflow: scroll;">
                <div class="list no-hairlines" id="combo_item">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>